<div ng-controller="EmployeeController as employeeVm">
    <br><br><br>

    <div>
        <form id="addform" ng-submit="add()" class="col-sm-4 col-sm-push-4">
            <h3 align="center"> Personal Details</h3>
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" required name="firstName" id="firstName"><br>
            <label>Last Name: </label>
            <input type="text" class="form-control" required name="lastName"><br>
            <label>E-mail:</label>
            <input type="email" class="form-control" required aria-describedby="emailHelp" name="email"><br>
            <h3 align="center"> Address</h3>
            <label>Street Address 1:</label>
            <input type="text" class="form-control" required name="address1"><br>
            <label>Street Address 2: </label>
            <input type="text" class="form-control" name="address2"><br>
            <label>City: </label>
            <input type="text" class="form-control" required name="city"><br>
            <label>State:</label>
            <input type="text" class="form-control" required name="state"><br>
            <label>Country: </label>
            <input type="text" class="form-control" required name="country"><br>
            <label>Zip Code: </label>
            <input type="number" class="form-control" required name="zipCode"><br><br>
            <div align="center">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="reset" class="btn btn-primary">Reset</button>
            </div>

            <br>
            <br>
        </form>
    </div>
</div>