
<div ng-controller="EditController as editVm">
    <br><br><br>


    <div align="center">
        <form  ng-submit="update()">
            <h4> Personal Details</h4>
            First Name: <input type="text" class="input-sm" required name="firstName" value={{editVm.currentEmployee.firstName}}><br>
            Last Name: <input type="text" class="input-sm" required name="lastName" value={{editVm.currentEmployee.lastName}}><br>
            E-mail: <input type="email"  class="input-sm" required aria-describedby="emailHelp" name="email" value={{editVm.currentEmployee.email}}><br>
            <h4> Address</h4>
            Street Address 1: <input type="text" class="input-sm" required  name="address1" value={{editVm.currentEmployee.address.streetAddress1}}><br>
            Street Address 2: <input type="text" class="input-sm"  name="address2" value={{editVm.currentEmployee.address.streetAddress2}}><br>
            City: <input type="text" class="input-sm" required name="city" value={{editVm.currentEmployee.address.city}}><br>
            State: <input type="text" class="input-sm" required name="state" value={{editVm.currentEmployee.address.state}}><br>
            Country: <input type="text" class="input-sm" required name="country" value={{editVm.currentEmployee.address.country}}><br>
            Zip Code: <input type="text" class="input-sm" required name="zipCode" value={{editVm.currentEmployee.address.zipCode}}><br><br>

            <button type="submit">Update</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</div>