
<div ng-controller="EmployeeController as employeeVm">
    <br><br><br>


    <div align="center">
        <form>
            <h4> Personal Details</h4>
            First Name: <input type="text" class="input-sm" name="firstName">{{employeeVm.firstName}}<br>
            Last Name: <input type="text" class="input-sm" name="lastName"><br>
            E-mail: <input type="email" class="input-sm" name="email"><br>
            <h4> Address</h4>
            Street Address 1: <input type="text" class="input-sm" name="address1"><br>
            Street Address 2: <input type="text" class="input-sm" name="address2"><br>
            City: <input type="text" class="input-sm" name="city"><br>
            State: <input type="text" class="input-sm" name="state"><br>
            Country: <input type="text" class="input-sm" name="country"><br>
            Zip Code: <input type="text" class ="input-sm" name="zipCode"><br><br>

            <button type="button" ng-click="save()">Save</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</div>